@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RWA - MWC</h1>
    <p class="lead">Ovo je moj projekt za predmet RWA ->MVC</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MODEL</h2>
    </div>
    <div class="col-md-4">
        <h2>VIEW</h2>
    </div>
    <div class="col-md-4">
        <h2>CONTROLER</h2>
    </div>
</div>